<% content_for :header_tags do %>
  <%= javascript_include_tag 'tag_with_issues_update_visibility', :plugin => :tag_with_issues %>
<% end %>

<h2><%= l(:label_tag_with_selected_issues) %></h2>

<ul><%= @issues.collect {|i| content_tag('li',link_to(h("#{i.tracker} ##{i.id}"), { :action => 'show', :id => i }) + h(": #{i.subject}")) }.join("\n") %></ul>

<% form_tag(:action => 'create_tag') do -%>
<%= @issues.collect {|i| hidden_field_tag('ids[]', i.id)}.join %>

<div class="box tabular">
<fieldset class="tagname">
<legend><%= l(:label_tag_name) %></legend>

<div class="splitcontentleft">
<p>
    <label><%= l(:label_major_version_short) %></label>
    <%= hidden_field_tag 'tag_name_major_version', @major_version %><%= @major_version %>
    (<%= l(:from_config)%>)
</p>

<p>
    <label><%= l(:label_minor_version_short) %></label>
    <%= text_field_tag 'tag_name_minor_version', '', :size => 5 %>
</p>

<p>
    <label><%= l(:label_internal_version_extra_short) %></label>
    <%= text_field_tag 'tag_name_internal_version_extra', '', :size => 15 %>
    (<%= l(:optional)%>)
</p>
</div>

<div class="splitcontentright">
<p>
    <label><%= l(:label_choose_custom_tag_name) %></label>
    <%= text_field_tag 'tag_name_custom', '', :size => 25 %>
    <br>
    (<%= l(:overwrites_choices_with_version_numbers)%>)
</p>
</div>

<p>
    <!-- TODO: update this dynamically -->
    <%= l :the_tag_name_will_be %>: <%= @major_version %>.<%= l :label_minor_version_short%>-<%= l :label_internal_version_extra_short%>
</p>
</fieldset>

<fieldset class="branch">
<legend><%= l(:label_commit) %></legend>
<p>
    <label for='branch'><%= l(:label_branch) %></label>
  <% if @has_branches -%>
    <%= select_tag :branch, options_for_select(@repository.branches,@repository.default_branch), :id => 'branch' %>
  <% end -%>
</p>
<p id="commit-selects">
    <label for='commit_id'><%= l(:label_commit) %></label>
    <% @changesets_by_branch.collect do |branch,changesets| -%>
        <%= select_tag('commit_id', options_for_select(changesets.collect { |c|
          ["#{c.format_identifier}" + (c.short_comments.blank? ? '' : (": #{c.short_comments}")), c.identifier ] }),
                       :id => branch, :style => "display:none;") %>
    <% end -%>
</p>
</fieldset>
</div>
<p><%= submit_tag l(:button_submit) %></p>
<% end -%>


<% if !@repository.tags.nil? && @repository.tags.length > 0 -%>
    <h2><%= l(:label_existing_tags) %></h2>
    <table class="list">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Commit</th>
          <th>Commit message</th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |t| -%>
          <tr>
            <td><%= t[:name] %></td>
            <td><%= t[:id] %></td>
            <td><%= t[:commit_message] %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
<% end -%>

